{% extends 'OCSymfonyCoreBundle::layout.html.twig' %}

{% block title %}
    Annonces - {{ parent() }}
{% endblock %}

{% block presentation %}
    <h1>Plateforme d'annonces d'emploi</h1>
{% endblock %}

{% block rubriques %}
    <h3>Les annonces</h3>
    <ul class="nav nav-pulls nav-stacked">
        <li><a href="{{ path('oc_symfony_platform_homepage') }}">Accueil</a></li>
    {% if is_granted('ROLE_AUTEUR') %}
        <li><a href="{{ path('oc_symfony_platform_add') }}">Ajouter une annonce</a></li>
    {% endif %}
    </ul>
{% endblock %}

{% block body %}

    <h1>Annonces</h1>

    <hr>
    {% block ocplatform_body %}
    {% endblock %}

{% endblock %}
