{% extends "OCSymfonyPlatformBundle::layout.html.twig" %}

{% block title %}
    Modifier une annonce - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}
    <h2>Modifier une annonce</h2>

    {{ include('OCSymfonyPlatformBundle:Advert:form.html.twig') }}

    <div class="well">
        {{ advert.content }}
    </div>

    <p>
        Vous éditez une annonce déjà existante, merci de ne pas changer l'esprit général de l'annonce déjà publiée.
    </p>

    <p>
        <a href="{{ path('oc_symfony_platform_view', {'slug': advert.slug}) }}" class="btn btn-default">
            <i class="glyphicon glyphicone-chevron-left"></i>
            Retour à l'annonce
        </a>
    </p>

{% endblock %}