<!doctype html>
<html lang="FR">
<head>
    <meta charset="UTF-8">
    <title>Affichage de l'annonce</title>
</head>
    <body>
        <h1>Annonce n° {{ id }}</h1>
        <div>
            {#On affiche tous les messages flash dont le nom est "info" #}
            {% for message in app.session.flashbag.get('info') %}
                <p>Message flash : {{ message }}</p>
            {% endfor %}
        </div>
        <p>Ici nous pourrons lire l'annonce ayant comme id : {{ id  }} <br />
            Mais pour l'instant, nous ne savons pas encore le faire mais ca viendra
        </p>
        <p>Tag éventuel : {{ tag }}</p>
    </body>
</html>